<!-- Start of second page -->
<div data-role="page" id="news-detail-page">

    <div data-role="header">
        <a href="#home-page" data-icon="arrow-l" class="ui-icon-nodisc" data-iconshadow="false" data-iconpos="notext">Back</a>
        <h1>News Detail</h1>
    </div><!-- /header -->

    <div data-role="content">
        <p><a href="#foo">back to foo page</a></p>
    </div><!-- /content -->

    <div data-role="footer">
        <h4>Page Footer</h4>
    </div><!-- /footer -->
</div><!-- /page -->