<!-- Start of second page -->
<div data-role="page" id="page-three">

    <div data-role="header">
        <h1>Page 3</h1>
    </div><!-- /header -->

    <div data-role="content">
        <p><a href="#foo">back to foo page</a></p>
    </div><!-- /content -->

    <div data-role="footer">
        <h4>Page Footer</h4>
    </div><!-- /footer -->
</div><!-- /page -->