<!-- Start of second page -->
<div data-role="page" id="bar">

    <div data-role="header" data-theme="b">
        <h1>Bar</h1>
    </div><!-- /header -->

    <div data-role="content">
        <p>I'm the second in the source order so I'm hidden when the page loads. I'm just shown if a link that references my id is beeing clicked.</p>
        <p><a href="#page-three" data-transition="flip">PAGE 3</a></p>
    </div><!-- /content -->

    <div data-role="footer">
        <h4>Page Footer</h4>
    </div><!-- /footer -->
</div><!-- /page -->