<!-- Start of hp-products page -->
<div data-role="page" id="subscribe-hp-products-page">

    <div data-role="header">
        <a href="#home-page" data-icon="arrow-l" class="ui-icon-nodisc" data-iconshadow="false" data-iconpos="notext">Back</a>
        <h1>Subscriptions</h1>
    </div><!-- /header -->

    <div data-role="navbar" data-grid="c">
        <ul>
            <li><a href="hp-products.html">HP Products</a></li>
            <li><a href="hp-news.html">HP News</a></li>
            <li><a href="industries.html">Industries</a></li>
            <li><a href="clients.html" class="ui-btn-active">Clients</a></li>
        </ul>
    </div><!-- /navbar -->

    <div data-role="content">
        <fieldset data-role="controlgroup" data-iconpos="right">
            <legend>Enterprise Group</legend>
            <input type="checkbox" name="cb-eg-bcs" id="cb-eg-bcs"><label for="cb-eg-bcs">Business Critical Systems</label>
            <input type="checkbox" name="cb-eg-networking" id="cb-eg-networking"><label for="cb-eg-networking">Networking</label>
            <input type="checkbox" name="cb-eg-storage" id="cb-eg-storage"><label for="cb-eg-storage">Storage</label>
            <input type="checkbox" name="cb-eg-iss" id="cb-eg-iss"><label for="cb-eg-iss">ISS</label>
            <input type="checkbox" name="cb-eg-ts" id="cb-eg-ts"><label for="cb-eg-ts">Technology Services</label>
        </fieldset>
        <fieldset data-role="controlgroup" data-iconpos="right">
            <legend>Enterprise Services</legend>
            <input type="checkbox" name="cb-es-cloud" id="cb-es-cloud"><label for="cb-es-cloud">Converged Cloud</label>
            <input type="checkbox" name="cb-es-mob" id="cb-es-mob"><label for="cb-es-mob">Mobility Services</label>
        </fieldset>
        <fieldset data-role="controlgroup" data-iconpos="right">
            <legend>HP Software</legend>
            <input type="checkbox" name="cb-hps-security" id="cb-hps-security"><label for="cb-hps-security">Enterprise Security</label>
            <input type="checkbox" name="cb-hps-autonomy" id="cb-hps-autonomy"><label for="cb-hps-autonomy">Autonomy</label>
            <input type="checkbox" name="cb-hps-vertica" id="cb-hps-vertica"><label for="cb-hps-vertica">Vertica</label>
        </fieldset>
    </div><!-- /content -->

</div><!-- /page -->