<!-- Start of hp-products page -->
<div data-role="page" id="subscribe-hp-news-page">

    <div data-role="header">
        <a href="#home-page" data-icon="arrow-l" class="ui-icon-nodisc" data-iconshadow="false" data-iconpos="notext">Back</a>
        <h1>Subscriptions</h1>
    </div><!-- /header -->

    <div data-role="navbar" data-grid="c">
        <ul>
            <li><a href="hp-products.html">HP Products</a></li>
            <li><a href="hp-news.html" class="ui-btn-active">HP News</a></li>
            <li><a href="industries.html">Industries</a></li>
            <li><a href="clients.html">Clients</a></li>
        </ul>
    </div><!-- /navbar -->

    <div data-role="content">
        <fieldset data-role="controlgroup" data-iconpos="right">
            <input type="checkbox" name="cb-news-athp" id="cb-news-athp"><label for="cb-news-athp">@hp News</label>
            <input type="checkbox" name="cb-news-next" id="cb-news-next"><label for="cb-news-next">HP Next</label>
            <input type="checkbox" name="cb-news-f101" id="cb-news-f101"><label for="cb-news-f101">Financial 101</label>
            <input type="checkbox" name="cb-news-eswin" id="cb-news-eswin"><label for="cb-news-eswin">ES Wins&Successes</label>
            <input type="checkbox" name="cb-news-es" id="cb-news-es"><label for="cb-news-es">ES News</label>
        </fieldset>
    </div><!-- /content -->

</div><!-- /page -->
