<!-- Start of hp-products page -->
<div data-role="page" id="subscribe-hp-products-page">

    <div data-role="header">
        <a href="#home-page" data-icon="arrow-l" class="ui-icon-nodisc" data-iconshadow="false" data-iconpos="notext">Back</a>
        <h1>Subscriptions</h1>
    </div><!-- /header -->

    <div data-role="navbar" data-grid="c">
        <ul>
            <li><a href="hp-products.html">HP Products</a></li>
            <li><a href="hp-news.html">HP News</a></li>
            <li><a href="industries.html" class="ui-btn-active">Industries</a></li>
            <li><a href="clients.html">Clients</a></li>
        </ul>
    </div><!-- /navbar -->

    <div data-role="content">
        <fieldset data-role="controlgroup" data-iconpos="right">
            <input type="checkbox" name="sub-ind-1" id="sub-ind-1"><label for="sub-ind-1">Health & Life Sciences</label>
            <input type="checkbox" name="sub-ind-2" id="sub-ind-2"><label for="sub-ind-2">Communications</label>
            <input type="checkbox" name="sub-ind-3" id="sub-ind-3"><label for="sub-ind-3">Media & Entertainment</label>
            <input type="checkbox" name="sub-ind-4" id="sub-ind-4"><label for="sub-ind-4">Travel & Transportation</label>
            <input type="checkbox" name="sub-ind-5" id="sub-ind-5"><label for="sub-ind-5">Financial Services</label>
            <input type="checkbox" name="sub-ind-6" id="sub-ind-6"><label for="sub-ind-6">Public Sector</label>
            <input type="checkbox" name="sub-ind-7" id="sub-ind-7"><label for="sub-ind-7">Energy</label>
            <input type="checkbox" name="sub-ind-8" id="sub-ind-8"><label for="sub-ind-8">Manufacturing</label>
            <input type="checkbox" name="sub-ind-9" id="sub-ind-9"><label for="sub-ind-9">Retail</label>
            <input type="checkbox" name="sub-ind-10" id="sub-ind-10"><label for="sub-ind-10">Consumer Industries</label>
            <input type="checkbox" name="sub-ind-11" id="sub-ind-11"><label for="sub-ind-11">Data Center</label>
            <input type="checkbox" name="sub-ind-12" id="sub-ind-12"><label for="sub-ind-12">Network</label>
            <input type="checkbox" name="sub-ind-13" id="sub-ind-13"><label for="sub-ind-13">Security</label>
            <input type="checkbox" name="sub-ind-14" id="sub-ind-14"><label for="sub-ind-14">Enterprise Service Management</label>
        </fieldset>
    </div><!-- /content -->

</div><!-- /page -->